@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(/intro-component-with-signup-form-master/images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size:auto;
    background-color: hsl(0, 100%, 74%);
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.sub1 {
    padding: 30px;
    color: white;
    flex-direction: column;
    width: 400px;
} 

.sub1 h1 {
    font-size: 40px;
    text-align: left;
    padding-bottom: 20px;
    font-weight: 900;
    line-height: 1.2;
}

.sub1 p {
    font-size: 12px;
    text-align:left;
}

.sub2 {
    padding:  20px;
    color: white;
    flex-direction: column;
}

.sub2-header {
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background-color: hsl(248, 32%, 49%);
    font-size: 12px;
    width:91%;
}

form {
    margin-top: 20px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

input::placeholder {
    color: hsl(245, 13%, 62%);
    font-weight: 700;
    font-size: 12px;
}
input[type=submit] {
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    padding: 15px;
}
form p {
    color: hsl(246, 25%, 77%);
    padding: 7px;
    font-size: 10px;
    text-align: center;
}

form strong {
    color: hsl(0, 100%, 74%) ;
}

@media (max-width: 700px) {
    body {
        font-family: 'Poppins', sans-serif;
        background-image: url(/intro-component-with-signup-form-master/images/bg-intro-mobile.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-color: hsl(0, 100%, 74%) ;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sub1 {
        margin-top: 25px;
        padding: 30px;
        color: white;
        align-items: center;
    } 

    .sub1 h1 {
        font-size: 22px;
        text-align: center;
        padding-bottom: 20px;
    }

    .sub1 p {
        font-size: 12px;
        text-align:center;
    }

    .sub2 {
        justify-content: center;
        padding:  20px;
        color: white;
    }

    .sub2-header {
        border-radius: 10px;
        padding: 15px;
        text-align: center;
        background-color: hsl(248, 32%, 49%);
        font-size: 12px;
    }

    form {
        margin-top: 20px;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
    }

    form input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-top: 10px;
    }

    input::placeholder {
        color: hsl(245, 13%, 62%);
        font-weight: 700;
        font-size: 12px;
    }
    input[type=submit] {
        background-color: hsl(154, 59%, 51%);
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 13px;
        padding: 15px;
    }
    form p {
        color: hsl(246, 25%, 77%);
        padding: 7px;
        font-size: 10px;
        text-align: center;
    }

    form strong {
        color: hsl(0, 100%, 74%) ;
    }
}
